body {
  background-color: #fff;
  color: #757575;
}
.list {
  list-style: none;
}
/* стили логотипа */
.logo {
  color: #000000;
  text-decoration: none;
}
.logo-accent {
  color: #2196f3;
}
/* стили навигации */
.site-nav .link {
  color: #2196f3;
}

/* основной цвет текста #757575 */
/* вторичний цвет текста #212121 */
/* цвет логотипа #000000 */
/* белый цвет текста #FFFFFF */
/* третий цвет текста rgba(255, 255, 255, 0.6); только адрес */
/* акцент текста #2196F3 */
/* основной бекграунд страници #E5E5E5 */
/* вторичный бекграунд #2F303A */
